<% layout('layouts/boilerplate') %>

<h1 class="display-1 text-light">Home Page</h1>

<link rel="stylesheet" href="/css/bgimage.css" />
<p><a class="link-opacity-100" href="/create">Create Quiz</a></p>
<p><a class="link-opacity-100" href="/quizzes">Attend a Quiz</a></p>
